{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>寄付のお願い</title>
</head>
<body>
{% block content %}


    <div class="container">

    <div>
        <h4>世界にどれくらいの血が流れているか</h4>
        <p>私たちが何気なくやっていることは、他の人にとって本当に正しいのでしょうか。
        私たちはこの世界で何気なく幸せを享受しています。しかし、それが他の人の苦しみの上で
        成り立っていることを理解していますか？</p>
    </div>

    <div>
        <h4>ジョンレノンのイマジンに込められた思い</h4>
        <p>There is no heaven</p>
        <p>これは格差のある現世に天国はないよということなのでしょうか。
        それとも天国というのは本質的には存在しえないということなのでしょうか。
        一足先に検証したジョンレノンに敬意を払って申し上げますと、
        天国は「この世」にあると言えるでしょう。歌というメッセージ性の強いもの
        は得てして解釈の余地を残すことでより人々に印象付けを行うことがあります。
        その文脈を補完する意味でここに天国があるとはっきり申し上げます</p>

    </div>

    <div>

        <h4>天国の存在を知りたいですか？それなら</h4>
        <p> (bitcoinの送金ページの予定)</p>
    </div>


    </div>
{% endblock %}
</body>
</html>