{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

    <div class="card">
        <div class="card-header"><h2 class="text-center">ユーザー登録</h2></div>
     <div class="card-body">
        <form method="post">

        {% csrf_token %}
    {% for field in form %}
        <div class="form-group row">
        <label for="{{ field.id_for_label }}" class="col-md-3 col-form-label">
        {{ field.label_tag }}</label>
        <div class="col-md-9">
        {{ field | add_class:"form-control"}}
            <div class="text-danger">{{ field.errors}}</div>
        {{ field.help_text }}
        </div>
        </div>
    {% endfor %}
    <div class="form-group row">
        <div class="col-md-6 offset-md-3">
        <button type="submit" class="btn btn-dark btn-block">Sign up</button>
        </div>
    </div>

    </form>
     {% if form.errors %}
         <div class="text-danger">{{ form.non_field_errors }}</div>
     {% endif %}
 </div>
    </div>
{% endblock %}