{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="ja-jp" xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{% static 'pseudo_qb/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'pseudo_qb/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'pseudo_qb/css/flat-ui.min.css' %}" />
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
<div class="page-header">
    <h2>Libre QB ONLINE</h2>
</div>
<nav class="navbar navbar-default">
    <a class="navbar-brand" href="#">TEST</a>

<div class="nav-item"><strong>User:{{ user.username }}</strong></div>
</nav>
    <div class="content container" id="content">
        {% block content %}{% endblock %}
    </div>
<script src="{% static 'pseudo_qb/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'pseudo_qb/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'pseudo_qb/js/flat-ui.min.js' %}"></script>
    <script src="{% static 'pseudo_qb/js/application.js' %}"></script>
</body>
</html>